.c-navbar {
    background-color: transparent;
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-secondary;
    position: fixed;
    z-index: 9;
    width: 100%;
    
    &__logo {
        display: flex;
        align-items: center;
        
        svg {
            font-size: 28px;
            color: $primary-color;
        }
        
        span {
            padding: 6px 16px;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: white;
            background: $primary-color;
            margin-left: 16px;
        }
    }
    
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        &__item {
            margin: 0 16px;
            cursor: pointer;
            text-transform: lowercase;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                border-bottom: 1px solid $primary-color;
            }
        }
    }


    &__whatsapp {
        margin: 0 16px;
        position: fixed;
        right: 24px;
        top: 30%;
        border: 1px solid $whatsapp;
        padding: 8px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        svg {
            color: $whatsapp;
            font-size: 32px;
        }
        
        span {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            margin-top: 8px;
            color: $secondary-color;
        }

        &:hover {
            background-color: transparentize($whatsapp, 0.94);
            border-color: transparentize($whatsapp, 0.94);
        }
    }
}